<head>
    <title>Edit Employee {{data.fullname}}</title>
    <style type="text/css">
        input{
            margin-top: 5px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function(){            
            $('#id_proof > option[value="{{{data.id_proof}}}"]').attr("selected", "selected");
            $('#address_proof > option[value="{{{data.address_proof}}}"]').attr("selected", "selected");
            $('#employmentstatus > option[value="{{{data.employmentstatus}}}"]').attr("selected", "selected");
            $('#employeedesignation > option[value="{{{data.employeedesignation}}}"]').attr("selected", "selected");
        });
    </script>
    </head>
    <body>

        <form action="editemployee" method="POST" enctype="multipart/form-data">
            
            <h2>Edit Employee Profile {{{data.fullname}}}</h2>
            <p>{{{message}}}</p><p>{{{message2}}}</p>
            <table>
            <label>Fullname </label><input name="fullname" type="text"  value= "{{data.fullname}}"/><br/>
            <label>Date of birth in YYYYMMDD</label><input name="dob" type="number" maxlength="8" value="{{data.dob}}" /><br/>
            <label for="id_proof">Choose ID Proof </label><select name="id_proof" id="id_proof">
                <option value="">select
                </option>
                <option value="pan">PAN
                </option>
                <option value="drivinglicense">Driving License
                </option>
                <option value="voterid">Voter's ID
                </option>
                <option value="sslc">10th Certificate
                </option>
                <option value="birthcertificate">Birth Certificate
                </option>
            </select>
            <label> Id Proof Number </label><input name="idproofnumber" type="text" placeholder="ID Proof Number" value="{{data.idproofnumber}}"/><br/>
            <label for="address_proof">Choose Address Proof </label><select name="address_proof" id="address_proof">
                <option value="">select
                </option>
                <option value="aadhar">Aadhar
                </option>
                <option value="votersid">Voter's ID
                </option>
                <option value="drivinglicense">Driving License
                </option>
                <option value="electricitybill">Electricity Bill
                </option>
                <option value="others">Others
                </option>
            </select>

            <label> Address Proof Number </label><input name="addressproofnumber" type="text" placeholder="Adress Proof Number" value="{{data.addressproofnumber}}"/><br/>
            <label>Address Lane 1 </label><input name="address1" type="text" placeholder="Adress line 1" value="{{data.address1}}"/>
            <label> Address Lane 2 </label><input name="address2" type="text" placeholder="Adress line 2" value="{{data.address2}}" />
            <label> Address Lane 3 </label><input name="address3" type="text" placeholder="Adress line 3" value="{{data.address3}}"/><br/>
            <label>PIN Code </label><input name="pin" type="text" placeholder="Pin Code" value="{{data.pin}}" /><br/>
            <label>Email ID </label><input name="email" type="email" placeholder="Email ID"  value="{{data.email}}" /><br/>
            <label>Mobile </label><input name="mobile" type="tel" placeholder="Mobile Number"  value="{{data.mobile}}" /><br/>
            <label>Guardian Full Name </label><input name="guardian_name" type="text" placeholder="Guardian Full Name" value="{{data.guardian_name}}"/>
            <label> Guardian Phone </label><input name="guardian_phone" type="text" placeholder="Guardian Phone" value="{{data.guardian_phone}}" /><br/>
            <p><label>Guardian full address </label></br><textarea name="guardian_address" placeholder="Guardian Full Address" >{{data.guardian_address}}</textarea><br/></p>
            <label>Upload Documents: </label><br/>
            <label>Id Proof </label><input type="file" name="idfile" /><br/> <img src="{{data.idfile}}" width="60" height="45" alt="No ID Proof" /><br/>
            <label>Address Proof </label><input type="file" name="addressfile" /><br/><img src="{{data.addressfile}}" width="60" height="45" alt="No Address Proof" /><br/>
            <label>Passport Size Photo </label><input type="file" name="photo" /><br/><img src="{{data.photo}}" width="60" height="45" alt="No picture" /><br/>
            <label for="employeeid">Employee ID </label><input type="number" name="employeeid" value="{{data.employeeid}}"></br>
            <label for="employeedesignation">Designation </label><select name="employeedesignation" id="employeedesignation">
                <option value="">Select</option>
                <option value="telecaller">Telecaller</option>
            </select></br>
            <label>Employment Status </label><select name="employmentstatus" id="employmentstatus">
                <option value="">select</option>
                <option value="employed">employed</option>
                <option value="suspended">suspended</option>
                <option value="resigned">resigned</option>
            </select>
            <label> Joining Date in YYYYMMDD </label><input type="number" name="joiningdate" value="{{data.joiningdate}}"></br>
            <label>Salary </label><input type="number" name="salary" value="{{data.salary}}"/><br/>
            
            <input type="submit" value="Save" />
        </table>
        </form>
 