
    <head>
        <title>
            {{{title}}}
        </title>
    </head>
    <body>
       <h3>New Employee has been successfully Created</h3>
       <table>
    <tr><td>Employee Name</td><td>{{{fullname}}}</td>
  </tr>
  <tr>
    <td>Date of birth</td>
    <td>{{{dob}}}</td>
  </tr>
  <tr>
      <td>Id proof</td>
      <td>{{{id_proof}}}</td>
  </tr>
  <tr>
      <td>Id proof Number</td>
      <td>{{{idproofnumber}}}</td>
  </tr>
    <tr>
      <td>Address Proof Number</td>
      <td>{{{addressproofnumber}}}</td>
  </tr>
      <tr>
      <td>Address line 1</td>
      <td>{{{address1}}}</td>
  </tr>

    <tr>
      <td>Address line 2</td>
      <td>{{{address2}}}</td>
  </tr>

      <tr>
      <td>Address line 3</td>
      <td>{{{address3}}}</td>
  </tr>
    <tr>
      <td>Pin</td>
      <td>{{{pin}}}</td>
  </tr>
      <tr>
      <td>Mobile</td>
      <td>{{{mobile}}}</td>
  </tr>
       <tr>
      <td>email</td>
      <td>{{{email}}}</td>
  </tr>
    <tr>
      <td>Guardian Name</td>
      <td>{{{guardian_name}}}</td>
  </tr>
       <tr>
      <td>Guardian Phone</td>
      <td>{{{guardian_phone}}}</td>
  </tr>
       <tr>
      <td>Guardian Address</td>
      <td>{{{guardian_address}}}</td>
  </tr>
    <tr>
      <td>Employee Designation</td>
      <td>{{{employeedesignation}}}</td>
  </tr>
        <tr>
      <td>Employee id</td>
      <td>{{{employeeid}}}</td>
  </tr>

  <tr>
  <td>Created on</td>
      <td>{{{created_on}}}</td>
  </tr>
  
  <tr>
  <td>Created By</td>
      <td>{{{created_by}}}</td>
  </tr>

  <tr>
  <td>Updated On</td>
      <td>{{{updated_on}}}</td>
  </tr>

  <tr>
  <td>Updated By</td>
      <td>{{{updated_by}}}</td>
  </tr>
  <tr>
      <td>Employment Status
      </td>
      <td>
          {{{employmentstatus}}}
      </td>
  </tr>
  <tr>
      <td>
         Joining Date 
      </td>
      <td>
          {{joiningdate}}
      </td>
  </tr>

    </table>
