
    <head>
        <title>
            {{{title}}}
        </title>
    </head>
    <body>
       <h3>{{titlemsg}}</h3>
       <table>
    <tr><td>Employee Name</td><td>{{{employee.fullname}}}</td>
  </tr>
  <tr>
    <td>Date of birth</td>
    <td>{{{employee.dob}}}</td>
  </tr>
  <tr>
      <td>Id proof</td>
      <td>{{{employee.id_proof}}}</td>
  </tr>
  <tr>
      <td>Id proof Number</td>
      <td>{{{employee.idproofnumber}}}</td>
  </tr>
    <tr>
      <td>Address Proof Number</td>
      <td>{{{employee.addressproofnumber}}}</td>
  </tr>
      <tr>
      <td>Address line 1</td>
      <td>{{{employee.address1}}}</td>
  </tr>

    <tr>
      <td>Address line 2</td>
      <td>{{{employee.address2}}}</td>
  </tr>

      <tr>
      <td>Address line 3</td>
      <td>{{{employee.address3}}}</td>
  </tr>
    <tr>
      <td>Pin</td>
      <td>{{{employee.pin}}}</td>
  </tr>
      <tr>
      <td>Mobile</td>
      <td>{{{employee.mobile}}}</td>
  </tr>
       <tr>
      <td>email</td>
      <td>{{{employee.email}}}</td>
  </tr>
    <tr>
      <td>Guardian Name</td>
      <td>{{{employee.guardian_name}}}</td>
  </tr>
       <tr>
      <td>Guardian Phone</td>
      <td>{{{employee.guardian_phone}}}</td>
  </tr>
       <tr>
      <td>Guardian Address</td>
      <td>{{{employee.guardian_address}}}</td>
  </tr>
    <tr>
      <td>Employee Designation</td>
      <td>{{{employee.employeedesignation}}}</td>
  </tr>
        <tr>
      <td>Employee id</td>
      <td>{{{employee.employeeid}}}</td>
  </tr>

  <tr>
  <td>Created on</td>
      <td>{{{employee.created_on}}}</td>
  </tr>
  
  <tr>
  <td>Created By</td>
      <td>{{{employee.created_by}}}</td>
  </tr>

  <tr>
  <td>Updated On</td>
      <td>{{{employee.updated_on}}}</td>
  </tr>

  <tr>
  <td>Updated By</td>
      <td>{{{employee.updated_by}}}</td>
  </tr>
  <tr>
      <td>Employment Status
      </td>
      <td>
          {{{employee.employmentstatus}}}
      </td>
  </tr>
  <tr>
      <td>
         Joining Date 
      </td>
      <td>
          {{employee.joiningdate}}
      </td>
  </tr>
  

    </table>
