<head>
    <title>Employees</title>
</head>
<table>
    {{#if employee}}
    <tr><tr><th>Employee Name</th><th>Employee id</th><th>Designation</th><th>Joined on</th><th>Status</th><th>View More</th><th>Edit</th><th>Remove</th></tr>
    {{#each employee}}
     <tr><td>{{this.fullname}}</td><td>{{this.employeeid}}</td><td>{{this.employeedesignation}}</td><td>{{this.joiningdate}}</td><td>{{this.employmentstatus}}</td><td><a href="employeeprofile?employeeid={{this.employeeid}}">View More</a></td><td><a href="editemployee?employeeid={{this.employeeid}}">Edit</a></td><td><a href="deleteemployee?employeeid={{this.employeeid}}">Delete</a></td></tr>
    {{/each}}
    {{/if}}
</table>
{{#if message}}
<h2>{{message}}</h2>
{{/if}}

