<head>
<title>{{message}}</title>
</head>
<body>
    <h3>{{message}}</h3>
    {{#if data}}
    <table>
        <tr>
            <th>Employee ID</th> <th>In Time</th> <th>Out Time</th> 
        </tr>
        <tr>
            <td>{{data.employeeid}}</td><td>{{data.intime}}</td><td>{{data.outtime}}</td>
        </tr>
    </table>
    {{/if}}


