<head>
<title>{{message}}</title>
</head>
<body>
    <h3>{{message}}</h3>
    {{#if data}}
    <table>
        <tr>
            <th>Employee Name</th> <th>Employee ID</th> <th>Type</th><th>Time Marked</th>
        </tr>
        <tr>
            <td></td><td>{{data.employeeid}}</td><td>{{data.intime}}  {{data.outtime}}</td><td>{{data.timemarked}}</td>
        </tr>
    </table>
    {{/if}}


