<head>
<title>Attendance Home</title>
<style type="text/css">
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}

th{
    padding-left: 10px;
    background-color: khaki;
}

td{
    background-color: bisque;
    padding:10px;
    width: 100px;
}
</style>
</head>
<h3>{{message}}</h3>

<table>
    <tr><th>ID</th><th>Name</th><th>In Time</td><th>Out time</td></tr>
    {{#each attresult}}
    <tr><td>{{this.employeeid}}</td><td>{{this.fullname}}</td><td>{{this.intime}}</td><td>{{this.outtime}}</td></tr>
    {{/each}}
</table>