<head>
    <title>{{{ title }}}</title>
    <style type="text/css">
        input{
            margin-top: 5px;
        }
    </style>
    </head>
    <body>
        <form action="register" method="POST" enctype="multipart/form-data">
            <h2>{{{title}}}</h2><p>{{{msg}}}</p><p>{{{msg2}}}</p>
            <table>
            <label>Full Name </label><input name="fullname" type="text" placeholder="Full Name as given on ID Proof" /><br/>
            <label>Date of birth </label><input name="dob" type="number" placeholder="D.O.B in YYYYMMDD" maxlength="8" /><br/>
            <label for="id_proof">Choose ID Proof </label><select name="id_proof">
                <option value="">select
                </option>
                <option value="pan">PAN
                </option>
                <option value="drivinglicense">Driving License
                </option>
                <option value="voterid">Voter's ID
                </option>
                <option value="sslc">10th Certificate
                </option>
                <option value="birthcertificate">Birth Certificate
                </option>
            </select>
            <label> Id proof number </label><input name="idproofnumber" type="text" placeholder="ID Proof Number" /><br/>
            <label for="address_proof">Choose Address Proof </label><select name="address_proof">
                <option value="">select
                </option>
                <option value="aadhaar">Aadhar
                </option>
                <option value="voters id">Voter's ID
                </option>
                <option value="driving license">Driving License
                </option>
                <option value="electricity bill">Electricity Bill
                </option>
                <option value="others">Others
                </option>
            </select>

            <label> Address Proof Number </Address></label><input name="addressproofnumber" type="text" placeholder="Adress Proof Number" /><br/>
            <label> Address 1 </label><input name="address1" type="text" placeholder="Adress line 1" />
            <label> Address 2 </label><input name="address2" type="text" placeholder="Adress line 2" />
            <label> Address 3 </label><input name="address3" type="text" placeholder="Adress line 3" /><br/>
            <label>Pin </label><input name="pin" type="text" placeholder="Pin Code" /><br/>
            <label>Mobile </label><input name="mobile" type="tel" placeholder="Mobile Number" /><br/>
            <label>Email </label><input name="email" type="email" placeholder="Email ID" /><br/>
            <label>Guardian Name </label><input name="guardian_name" type="text" placeholder="Guardian Full Name" />
            <label> Guardian Phone </label><input name="guardian_phone" type="number" placeholder="Guardian Phone" /><br/>
            <label>Guardian Address </label></br><textarea name="guardian_address" placeholder="Guardian Full Address"></textarea><br/>
            <label>Upload Documents:</label><br/>
            <label>Id Proof </label><input type="file" name="idfile" /><br/>
            <label>Address Proof </label><input type="file" name="addressfile" /><br/>
            <label>Passport Size Photo </label><input type="file" name="photo" /><br/>
            <label for="employeeid">Employee ID </label><input type="number" name="employeeid" value={{{empid}}}></br>
            <label for="employeedesignation">Designation </label><select name="employeedesignation">
                <option value="">Select</option>
                <option value="telecaller">Telecaller</option>
            </select></br>
            <label>Employment Status </label><select name="employmentstatus">
                <option value="">select</option>
                <option value="employed" selected="selected">employed</option>
                <option value="suspended">suspended</option>
                <option value="resigned">resigned</option>
            </select></br>
            <label>Date of joining </label><input type="number" name="joiningdate" placeholder="Date of joining in YYYYMMDD" title="Date of joining in YYYYMMDD" />
            </br>
            <label>Salary </label><input type="number"name="salary">
            <input type="submit" value="submit" />
        </table>
        </form>